{"content":"<@&__ROLE_ID__>","embeds":[{"title":"{{ annotations.title.[0] }}","url":"{{ issuePageUrl }}","description":"{{#if annotations.description.[0]}}{{ annotations.description.[0] }}{{else}}{{ annotations.title.[0] }}{{/if}}","color":{{#if (eq (lowercase state) 'closed')}}3066993{{else}}{{#if (eq priority 'CRITICAL')}}15158332{{else}}{{#if (eq priority 'HIGH')}}15844367{{else}}{{#if (eq priority 'MEDIUM')}}16776960{{else}}3447003{{/if}}{{/if}}{{/if}}{{/if}},"fields":[{"name":"Priority","value":"{{ priority }}","inline":true},{"name":"State","value":"{{ state }}","inline":true}],"footer":{"text":"New Relic · BagelBot Fleet"}}],"allowed_mentions":{"roles":["__ROLE_ID__"]}}
